<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="house.css">
    <script src="https://kit.fontawesome.com/824591db64.js" crossorigin="anonymous"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .post {
            max-width: 600px;
            margin: 20px auto;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 20px;
            background-color: #b8b6b6;
            /* Сірий колір фону поста */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
        }

        .post-img {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            margin-right: 20px;
        }

        .post-description {
            flex-grow: 1;
        }

        .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .post-header img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .post-header .username {
                font-weight: bold;
                margin-right: 10px;
            }

        .post-footer {
            color: #595252;
            font-size: 14px;
        }
    </style>
</head>

<body>

    <div class="post">
        <img class="post-img" src="/images/Прихисти_своїх.jpg"
             alt="Зображення поста">
        <div class="post-description">
            <div class="post-header">
                <img src="/images/photo_2024-03-01_16-13-46.jpg" alt="Профільне фото">
                <div class="username">Zlatyslav</div>
                <div class="post-footer" style="margin-left: auto;">
                    <span>01.04.2024</span>
                </div>
            </div>
            <div class="post-content">
                <p>
                    Росія оголосила Україні війну і підло обстрілює мирні міста.
                    Тисячі людей терміново евакуюються до більш безпечних регіонів. Більшість із них не має, де безпечно перечекати складні
                    часи. Сьогодні всі ми маємо бути максимально зібраними, об'єднаними та підтримувати один одного.
                </p>
            </div>
            <div style="border: 2px solid #000; border-radius: 25px; padding: 10px 40px; background: linear-gradient(to right, #ffffff 70%, #000000 30%);">
            </div>
            <i class="fa-regular fa-credit-card"></i>
            <a href="https://send.monobank.ua/jar/9jGZi2UHSF"
               style="margin-left: 5px; font-family: Impact, Charcoal, sans-serif;">Фінансова підтримка</a>
            <a href="https://prykhystok.gov.ua/" class="source-btn">Перейти на джерело</a>
        </div>
    </div>

    <div class="post">
        <img class="post-img" src="/images/photo_2024-04-14_12-29-05.jpg" alt="Зображення поста">
        <div class="post-description">
            <div class="post-header">
                <img src="/images/photo_2024-03-14_15-51-25.jpg" alt="Профільне фото">
                <div class="username">Shandra</div>
                <div class="post-footer" style="margin-left: auto;">
                    <span>12.03.2024</span>
                </div>
            </div>
            <div class="post-content">
                <p>
                    Наші воїни - це незламні стовпи нації, які вирушають на передову, готові ризикувати всім заради нашої
                    безпеки. Ми, в
                    свою чергу, обіцяємо не залишати їх у самотності. Наш фонд - це обійма співчуття та підтримки, що
                    огортають наших героїв
                    у їхньому шляху до повноцінного відновлення. Разом ми зможемо зробити набагато більше, допомагаючи
                    тим, хто завдав
                    глибоких ран у ім'я нашої свободи.
                </p>
            </div>
            <div style="border: 2px solid #000; border-radius: 25px; padding: 10px 40px; background: linear-gradient(to right, #ffffff 80%, #000000 20%);">
            </div>
            <i class="fa-regular fa-credit-card"></i>
            <a href="https://send.monobank.ua/jar/9jGZi2UHSF"
               style="margin-left: 5px; font-family: Impact, Charcoal, sans-serif;">Фінансова підтримка</a>
            <a href="https://viyna.net/zhitlo-u-lvovi-dlya-bizhencziv" class="source-btn">Перейти на джерело</a>
        </div>
    </div>

    <div class="post">
        <img class="post-img" src="/images/images.png" alt="Зображення поста">
        <div class="post-description">
            <div class="post-header">
                <img src="/images/photo_2023-08-24_03-14-01.jpg" alt="Профільне фото">
                <div class="username">Vadum_007</div>
                <div class="post-footer" style="margin-left: auto;">
                    <span>12.04.2024</span>
                </div>
            </div>
            <div class="post-content">
                <p>Ми відновлюємо невикористані приміщення та перетворюємо їх на безпечні затишні домівки для внутрішніх переселенців (ВПО), що втекли від жахів війни. Ваша фінансова підтримка надає надію людям на краще життя та світле майбутнє. Зміни починаються з вибору. Зробіть свій вибір сьогодні, перерахувавши фінансову допомогу до фонду MoveUkraine.</p>
            </div>
            <div style="border: 2px solid #000; border-radius: 25px; padding: 10px 40px; background: linear-gradient(to right, #ffffff 50%, #000000 50%);">
            </div>
            <i class="fa-regular fa-credit-card"></i>
            <a href="https://send.monobank.ua/jar/9jGZi2UHSF"
               style="margin-left: 5px; font-family: Impact, Charcoal, sans-serif;">Фінансова підтримка</a>
            <a href="https://moveukraine.org/uk/donation/?gad_source=1&gclid=CjwKCAjw_e2wBhAEEiwAyFFFo4ustA5U3n5-wBYH1SoawmveY2hBwENXefrq0jX90jE_tutwMqgdZxoC63cQAvD_BwE" class="source-btn">Перейти на джерело</a>
        </div>
    </div>

</body>

</html>