<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razom</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
    <!--header-->
    <!--Home section-->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Together <br> to victory </h1>
            <p>Разом - це сучасний простір для отримання допомоги та волонтерства</p>
            <a asp-controller="Posts" asp-action="Create" class="home-btn">Створити пост</a>
        </div>
    </section>

    <!--destination section-->
    <section class="destination" id="destination">
        <div class="destination-content">
            <div class="col-content col-11">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Foundations" asp-action="GetAll" method="get">
                        <img src='./images/fond.png'>
                        <h5>Фонди</h5>
                    </a>
                </li>
            </div>


            <div class="col-content col-11">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pritulki" method="get">
                    <img src='./images/pritulok.png'>
                    <h5>Притулки для тварин</h5>
                    </a></li>
            </div>

            <div class="col-content col-11">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="House" method="get">
                    <img src='/images/dom.png'>
                    <h5>Домівки</h5>
                    </a>
                </li>
            </div>

            <div class="col-content col-11">
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Zbory" method="get">
                <img src='./images/zbory.png'>
                <h5>Збори</h5>
                    </a>
                </li>
            </div>

            <div class="col-content col-11">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Mental" method="get">
                        <img src='./images/help.png'>
                        <h5>Психологічна допомога</h5>
                    </a>
                </li>
            </div>

            <!--Newletter-->
            <section class="newletter">
                <div class=" news-text col-6">
                    <h2>Хочеш доєднатись до нашої команди?</h2>
                    <p>Залиш свою пошу і дочекайся листа</p>
                </div>

                <div class="send col-5">
                    <form>
                        <input type="email" placeholder="Впиши Email" required>
                        <input type="submit" value="Надіслати">
                    </form>
                </div>
            </section>

            <section id="contact">
                <div class="footer">
                    <div class="main">
                        <div class="list col-content col-4">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Privacy Policy</a> </li>
                            </ul>
                        </div>
                        <div class="list col-content col-4 ">
                            <h4>Contact Info</h4>
                            <ul>
                                <li><a href="#">50 Dragonmanova Street </a></li>
                                <li><a href="#">Lviv 79007 </a></li>
                                <li><a href="#">+ 380 (96) 056 79</a> </li>
                                <li><a href="#">nekleeva@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class="list col-content col-4">
                            <h4>Connect</h4>
                            <div class="social">
                                <a href="#"><i class='bx bxl-telegram'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>