<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/824591db64.js" crossorigin="anonymous"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .post {
            max-width: 620px;
            margin: 20px auto;
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 20px;
            background-color: #b8b6b6;
            /* Сірий колір фону поста */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
        }

        .post-img {
            width: 300px;
            height: 300px;
            border-radius: 5px;
            margin-right: 20px;
        }

        .post-description {
            flex-grow: 1;
        }

        .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .post-header img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .post-header .username {
                font-weight: bold;
                margin-right: 10px;
            }

        .post-footer {
            color: #595252;
            font-size: 14px;
        }
    </style>
</head>

<body>

    <div class="post">
        <img class="post-img" src="/images/323445430_639173824644939_4219871092730469477_n.png"
             alt="Зображення поста">
        <div class="post-description">
            <div class="post-header">
                <img src="/images/photo_2023-06-19_21-41-02.jpg" alt="Профільне фото">
                <div class="username">micromolekuIa</div>
                <div class="post-footer" style="margin-left: auto;">
                    <span>06.04.2024</span>
                </div>
            </div>
            <div class="post-content">
                <p>
                    Поруч з кожним героєм стоїть сім'я, і поруч з кожною сім'єю - ми, як спільнота, що віддає шану та підтримує тих, хто
                    віддав своє життя за нашу свободу. Наш фонд - це джерело підтримки та вдячності для воїнів, які жертвують своїм
                    комфортом для захисту нашого краю. Приєднуйтеся до нашої місії, допоможіть нам збирати кошти, які допоможуть забезпечити
                    наших героїв всім необхідним у їхньому шляху до відновлення.
                </p>
            </div>
            <div style="border: 2px solid #000; border-radius: 25px; padding: 10px 40px; background: linear-gradient(to right, #ffffff 70%, #000000 30%);">
            </div>
            <i class="fa-regular fa-credit-card"></i>
            <a href="https://send.monobank.ua/jar/9jGZi2UHSF"
               style="margin-left: 5px; font-family: Impact, Charcoal, sans-serif;">Монобанк</a>
        </div>
    </div>

    <div class="post">
        <img class="post-img" src="/images/10814.jpg" alt="Зображення поста">
        <div class="post-description">
            <div class="post-header">
                <img src="/images/photo_2023-05-30_13-58-19.jpg" alt="Профільне фото">
                <div class="username">Alex Kytsun</div>
                <div class="post-footer" style="margin-left: auto;">
                    <span>12.03.2024</span>
                </div>
            </div>
            <div class="post-content">
                <p>
                    Наші воїни - це незламні стовпи нації, які вирушають на передову, готові ризикувати всім заради нашої безпеки. Ми, в
                    свою чергу, обіцяємо не залишати їх у самотності. Наш фонд - це обійма співчуття та підтримки, що огортають наших героїв
                    у їхньому шляху до повноцінного відновлення. Разом ми зможемо зробити набагато більше, допомагаючи тим, хто завдав
                    глибоких ран у ім'я нашої свободи.
                </p>
            </div>
            <div style="border: 2px solid #000; border-radius: 25px; padding: 10px 40px; background: linear-gradient(to right, #ffffff 80%, #000000 20%);">
            </div>
            <i class="fa-regular fa-credit-card"></i>
            <a href="https://send.monobank.ua/jar/9jGZi2UHSF"
               style="margin-left: 5px; font-family: Impact, Charcoal, sans-serif;">Монобанк</a>
        </div>
    </div>

    <div class="post">
        <img class="post-img" src="/images/image_2022-07-12_10-04-19.png" alt="Зображення поста">
        <div class="post-description">
            <div class="post-header">
                <img src="/images/photo_2023-09-20_10-17-00.jpg" alt="Профільне фото">
                <div class="username">krtresi</div>
                <div class="post-footer" style="margin-left: auto;">
                    <span>12.04.2024</span>
                </div>
            </div>
            <div class="post-content">
                <p>
                    Відважність, сила та безкомпромісна відданість - це характеристики наших воїнів, які стоять на захисті нашої країни. У
                    нашому фонді ми віддячуємо їм за ці якості, забезпечуючи необхідну допомогу та підтримку. З вашою допомогою ми можемо
                    зробити більше: від відновлення поранених до надання психологічної підтримки. Приєднуйтеся до нас у великому ділі
                    великих сердець.
                </p>
            </div>
            <div style="border: 2px solid #000; border-radius: 25px; padding: 10px 40px; background: linear-gradient(to right, #ffffff 50%, #000000 50%);">
            </div>
            <i class="fa-regular fa-credit-card"></i>
            <a href="https://send.monobank.ua/jar/9jGZi2UHSF"
               style="margin-left: 5px; font-family: Impact, Charcoal, sans-serif;">Монобанк</a>
        </div>
    </div>

</body>

</html>