@model Rule.BL.Models.UsersDTO

<h2>Users Details</h2>

<div>
    <h4>Name:</h4>
    <p>@Model.Name</p>
</div>
<div>
    <h5>LastName:</h5>
    <p>@Model.LastName</p>
</div>
<div>
    <h5>Username:</h5>
    <p>@Model.Username</p>
</div>
<div>
    <h5>Email:</h5>
    <p>@Model.Email</p>
</div>

<form asp-controller="Users" asp-action="Index" method="post">
    <button type="submit" class="btn btn-danger">Return</button>
</form>